# virual environnement
smart_parking_env/
parking_conda_env/

#certifications folder
certs/

#  python dependencies
*.pyc
*.pyo
*.pyd
__pycache__/

# logs and temp files
*.log
*.out
*.pid
*.swp
*.swo
*.sqlite3
db.sqlite3
*.bak

# IDE files
.vscode/
.idea/
*.iml

# migrations django files
migrations/
!migrations/__init__.py

# config files
.env
config.json
secrets.json

# static media files
smart_parking/static/cropped_spots/
media/
staticfiles/


# files created by test tools
.coverage
*.cover
nosetests.xml
tests.xml


smart_parking/parking/Data/
smart_parking/parking/cropped_spots/
smart_parking/cropped_spots/

smart_parking/model/fromover/
smart_parking/model/model_scripts/
smart_parking/model/model_scripts/Weights/
smart_parking/model/model_scripts/image_path.txt
smart_parking/model/model_scripts/points.json
weights/

smart_parking/parking/model/car_classifier_2.keras

*.keras
.env
# virual environnement
parking_env/

#  python dependencies
*.pyc
*.pyo
*.pyd
__pycache__/

# logs and temp files
*.log
*.out
*.pid
*.swp
*.swo
*.sqlite3
db.sqlite3
*.bak

# IDE files
.vscode/
.idea/
*.iml

# migrations django files
migrations/
!migrations/__init__.py

# config files
.env
config.json
secrets.json

# static media files

media/

# files created by test tools
.coverage
*.cover
nosetests.xml
tests.xml





