{% load i18n %}
<nav class="navbar">
  <div class="navbar__container">
    <a href="" id="navbar__logo">PARKING</a>
    <div class="navbar__toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <button class="navbar__links" id="Forms">
          {% trans "dashboard" %}
        </button>
      </li>
      <li class="navbar__item">
        <button class="navbar__links" id="DVA">
          {% trans "parking status" %}
        </button>
      </li>
      <li class="navbar__item">
        <button class="navbar__links" id="cameraconfig">
          {% trans "setup" %}
        </button>
      </li>
      <li class="navbar__item">
        <button class="navbar__links" id="markSpot">
          {% trans "Initialization" %}
        </button>
      </li>
      <li class="navbar__item">
        <button class="navbar__links" id="LCD">{% trans "LCD" %}</button>
      </li>
      <li class="navbar__btn">
        <button class="button" id="logout-btn">{% trans "logout" %}</button>
      </li>
      <li class="navbar__item navbar__item--lang">
        <form id="lang-form" action="{% url 'set_language' %}" method="post">
          <input
            type="hidden"
            name="csrfmiddlewaretoken"
            value="{{ csrf_token }}"
          />
          <input type="hidden" name="next" value="{{ request.path }}" />
          <input type="hidden" name="language" id="lang-input" />
          <select name="language" id="lang-select" class="navbar__links">
              <option value="en" {% if LANGUAGE_CODE not in 'fr' %}selected{% endif %}>English</option>
              <option value="fr" {% if LANGUAGE_CODE == 'fr' %}selected{% endif %}>Français</option>
          </select>
        </form>
      </li>
    </ul>
  </div>
</nav>
