<nav class="navbar">
  <div class="navbar__container">
    <a href="/dashboard/" id="navbar__logo">PARKING</a>
    <div class="navbar__toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <button class="navbar__links" id="Forms">dashboard</button>
      </li>
      <li class="navbar__item">
        <button class="navbar__links" id="DVA">parking status</button>
      </li>
      <li class="navbar__item">
        <button class="navbar__links" id="cameraconfig">setup</button>
      </li>
      <li class="navbar__item">
        <button class="navbar__links" id="markSpot">initialization</button>
      </li>
      <li class="navbar__item">
        <button class="navbar__links" id="LCD">LCD</button>
      </li>
      <li class="navbar__btn">
        <button class="button" id="logout-btn">Logout</button>
      </li>
    </ul>
  </div>
</nav>
