{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Camera</title>

    <!-- swiper links -->
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/swiper/swiper-bundle.min.css' %}"
    />

    <!-- partials links -->
    <link rel="stylesheet" href="{%static 'css/partials/navbar.css' %}" />
    <link rel="stylesheet" href="{%static 'css/partials/modal.css' %}" />
    <script src="{% static 'js/partials/navbar.js' %}"></script>
    <script src="{% static 'js/partials/ConfirmModal.js' %}"></script>

    <!-- related links -->
    <link rel="stylesheet" href="{% static 'css/camera.css' %}" />
    <script defer src="{% static 'css/swiper/swiper-bundle.min.js' %}"></script>
    <script type="module" src="{% static 'js/camera.js' %}"></script>
    <script src="{% static 'js/cameraconfig.js' %}"></script>
    <script type="module" src="{% static 'js/dashboardAPI.js' %}"></script>
  </head>
  <body>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

    <!-- navbar section -->
    {% include 'partials/navbar.html' %}

    <!-- main section -->
    <div class="swiper">
      <div class="swiper-wrapper" id="swiper-wrapper">
        <div class="swiper-slide">
          <div class="main__content" id="slide-0">
            <div class="formContainer" id="formContainer">
              <div class="camera-form">
                <h1>{% trans "Camera Configuration" %}</h1>
                <label>Zone (area):</label>
                <input
                  type="text"
                  name="area"
                  placeholder="Ex: 1"
                  autocomplete="off"
                />
                <label>Reference (ref):</label>
                <input
                  type="text"
                  name="ref"
                  placeholder="Ex: CAM01"
                  autocomplete="off"
                />
                <label>Chemin RTSP/HTTP (path):</label>
                <input
                  type="text"
                  name="path"
                  placeholder="Ex: rtsp://..."
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Swiper Navigation Buttons -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Button container -->
    <div class="right-section" id="top_section">
      <button class="main__btn" id="add-slide-btn">{% trans "Add" %}</button>
      <button class="main__btn" id="validatecam">
        {% trans "Validate and send" %}
      </button>
    </div>
    <div class="right-section" id="bottom_section">
      <!-- Dynamic buttons will be added here -->
    </div>

    <!-- Confirm/Undo Pop up -->
    {% include 'partials/modal.html' %}

    <!-- Confirm Pop up -->
    {% include 'partials/modalConfirm.html'%}

    <script>
      window.CAM_IMAGE_URL = "{% static 'images/cam.png' %}";
    </script>
  </body>
</html>
