{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Liste des cams</title>
  <style>
    body { font-family: Arial, sans-serif; padding: 20px; }
    table { width: 100%; border-collapse: collapse; margin-top: 20px; }
    th, td { padding: 10px; border: 1px solid #ccc; text-align: left; }
    th { background-color: #f2f2f2; }
    button { padding: 6px 12px; margin: 5px; }
  </style>
    <script type="module" src="{% static 'js/camera.js' %}"></script>

</head>
<body>
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">



  <h2>cams</h2>
  <button >recharge cams</button>


  <table id="cameraTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>reference</th>
        <th>Area RTSP</th>
        <th>lien</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


</body>
</html>
