{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="{%static 'css/dashboard.css' %}" />
    <link rel="stylesheet" href="{%static 'css/partials/navbar.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="{% static 'js/dashboardAPI.js' %}"></script>
    <script src="{% static 'js/partials/navbar.js' %}"></script>
  </head>
  <body>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    <!-- navbar section -->
    {% include 'partials/navbar.html' %}

    <!-- main section -->
    <div class="main">
      <div class="main__container">
        <div class="main__content">
          <h1>{% trans "Welcome," %}</h1>
          <h2><span id="username"></span></h2>
          <h2><span id="email" style="display: none"></span></h2>
          <h2><span id="role" style="display: none"></span></h2>
          <h2><span id="user-id" style="display: none"></span></h2>
          <p>{% trans "View your parking simulation." %}</p>
          <button class="main__btn">
            <a id="simulationCard">{% trans "View Status" %}</a>
          </button>
        </div>
        <div class="main__img--container">
          <img
            src="{% static 'images/undraw_pic1.svg' %}"
            alt=""
            id="main__img"
          />
        </div>
      </div>
    </div>

    <!-- services section -->
    <div class="services">
      <h1>{% trans "What are we offering ?" %}</h1>
      <div class="services__container">
        <a id="FormsCard">
          <div
            class="services__card"
            data-bg="{% static 'images/database.jpg' %}"
          >
            <h2>{% trans "Dashboard" %}</h2>
            <p>{% trans "Manage your users database" %}</p>
            <button>{% trans "Get Started" %}</button>
          </div>
        </a>
        <a id="SetupCard">
          <div
            class="services__card"
            data-bg="{% static 'images/camera.webp' %}"
          >
            <h2>{% trans "Setup" %}</h2>
            <p>{% trans "Add/Delete cameras from your database" %}</p>
            <button>{% trans "Get Started" %}</button>
          </div>
        </a>
        <a id="lcdCard">
          <div class="services__card" data-bg="{% static 'images/spots.jpg' %}">
            <h2>LCD</h2>
            <p>{% trans "Parking data displayed on LCD" %}</p>
            <button>{% trans "Get Started" %}</button>
          </div>
        </a>
        <a id="PickupCard">
          <div
            class="services__card"
            data-bg="{% static 'images/parking.jpeg' %}"
          >
            <h2>{% trans "Initialization" %}</h2>
            <p>{% trans "you can manually change your parking spots!" %}</p>
            <button>{% trans "Get Started" %}</button>
          </div>
        </a>
      </div>
    </div>

    <!-- footer section -->
    <div class="footer__container">
      <div class="footer__links">
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>{% trans "About us" %}</h2>
            <a href="/">{% trans "How it works" %}</a>
            <a href="/">{% trans "Testimonals" %}</a>
            <a href="/">{% trans "Carrers" %}</a>
            <a href="/">{% trans "Investements" %}</a>
            <a href="/">{% trans "Terms of Service" %}</a>
          </div>
          <div class="footer__link--items">
            <h2>{% trans "Contact us" %}</h2>
            <a href="/">{% trans "Contact" %}</a>
            <a href="/">{% trans "Support" %}</a>
            <a href="/">{% trans "Destinations" %}</a>
            <a href="/">{% trans "Sponsorships" %}</a>
          </div>
        </div>
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>{% trans "Video" %}</h2>
            <a href="/">{% trans "Submit video" %}</a>
            <a href="/">{% trans "Ambasadors" %}</a>
            <a href="/">{% trans "Agency" %}</a>
            <a href="/">{% trans "Influencer" %}</a>
          </div>
          <div class="footer__link--items">
            <h2>{% trans "Social Media" %}</h2>
            <a href="/">Instagram</a>
            <a href="/">Facebook</a>
            <a href="/">Youtube</a>
            <a href="/">Twitter</a>
          </div>
        </div>
      </div>
      <div class="social__media">
        <div class="social__media--wrap">
          <div class="footer__logo">
            <a href="" id="footer__logo">PARKING</a>
          </div>
          <p class="website__rights">
            o PARKING {% trans "2025.All rights reserved" %}
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
