<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="{% static 'js/dashboardAPI.js' %}"></script>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <div id="user-info">
        <p><strong>Username:</strong> <span id="username"></span></p>
        <p><strong>Email:</strong> <span id="email"></span></p>
        <p><strong>Role:</strong> <span id="role"></span></p>
        <p><strong>ID:</strong> <span id="user-id"></span></p>
    </div>

    <button id="logout-btn">Logout</button>
    <button id="user-list-button">list users</button>


    
</body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="{% static 'js/utils.js' %}" defer></script>
    <script src="{% static 'js/websocket.js' %}" defer></script>
    <script src="{% static 'js/dashboard.js' %}" defer></script>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>

</body>
</html>