{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{%static 'css/partials/modal.css' %}" />
    <script type="module" src="{% static 'js/auth.js' %}"></script>
    <script type="module" src="{% static 'js/dashboardAPI.js' %}"></script>
    <script src="{% static 'js/partials/ConfirmModal.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
  </head>
  <body>
    <!-- navbar section -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="" id="navbar__logo">PARKING</a>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__item">
          <form id="lang-form" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}" />
            <input type="hidden" name="language" id="lang-input" />
            <select name="language" id="lang-select" class="navbar__links">
              <option value="en">English</option>
              <option value="fr">Français</option>
            </select>
          </form>
        </li>
      </ul>
    </nav>

    <!-- main-container -->
    <div class="main__container">
      <div class="container">
        <div class="form-box active" id="login-form-id">
          <h2>{% trans "Login" %}</h2>
          <p class="error-message" id="error-message-login"></p>
          <form action="" id="login-form">
            {% csrf_token %}
            <input
              type="text"
              id="username"
              placeholder="Username"
              required
              onclick="hideError()"
              autocomplete="off"
            />
            <input
              type="password"
              id="password"
              placeholder="Password"
              required
              onclick="hideError()"
              autocomplete="off"
            />
            <button type="submit" class="submit" onclick="hideError()">
              {% trans "Login" %}
            </button>
            <p>
              {% trans "Don't have an account ?" %}
              <a href="#" onclick="showForm('register-form-id'),hideError()"
                >{% trans "Register" %}</a
              >
            </p>
          </form>
        </div>

        <div class="form-box" id="register-form-id">
          <h2>{% trans "Register" %}</h2>
          <p class="error-message" id="error-message-register"></p>
          <form action="" id="register-form">
            <input
              type="text"
              id="username-register"
              placeholder="Username"
              required
              onclick="hideError()"
              autocomplete="off"
            />
            <input
              type="password"
              id="password-register"
              placeholder="Password"
              required
              onclick="hideError()"
              autocomplete="off"
            />
            <input
              type="email"
              id="email"
              placeholder="Email"
              required
              onclick="hideError()"
              autocomplete="off"
            />
            <input
              type="text"
              id="first-name"
              placeholder="First Name"
              required
              onclick="hideError()"
              autocomplete="off"
            />
            <input
              type="text"
              id="last-name"
              placeholder="Last Name"
              required
              onclick="hideError()"
              autocomplete="off"
            />
            <button class="submit" type="submit" onclick="hideError()">
              {% trans "Register" %}
            </button>
            <p>
              {% trans "Already have an account ?" %}
              <a href="#" onclick="showForm('login-form-id'),hideError()"
                >{% trans "Login" %}</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>

    <!-- Confirm Pop up -->
    {% include 'partials/modalConfirm.html'%}
  </body>
</html>
