{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="{%static 'css/pick_up_spot.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="{% static 'js/dashboardAPI.js' %}"></script>
    <script src="{% static 'js/parkingSelector.js' %}"></script>
    <script type="module" src="{% static 'js/refresh.js' %}"></script>
  </head>
  <body>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    <!-- navbar section -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/dashboard/" id="navbar__logo">PARKING</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <button class="navbar__links" id="DVA">DVA</button>
          </li>
          <li class="navbar__item">
            <button class="navbar__links active" id="markSpot">
              mark spot
            </button>
          </li>
          <li class="navbar__item">
            <button class="navbar__links" id="cameraconfig">
              camera configuration
            </button>
          </li>
          <li class="navbar__item">
            <button class="navbar__links" id="Forms">Forms</button>
          </li>
          <li class="navbar__btn">
            <button class="button" id="logout-btn">Logout</button>
          </li>
        </ul>
      </div>
    </nav>

    <!-- main section -->
    <div class="main">
      <div class="main__container">
        <div class="main__content">
          <h1>Pick a parking spot</h1>
          <div class="area-container">
            {% for area, image_url in images.items %}
            <div class="image-container" id="container-{{ area }}">
              <h2>Area {{ area }}</h2>
              <img
                src="{{ image_url }}"
                alt="Camera in area {{ area }}"
                onclick="selectPoint(event, '{{ area }}')"
              />
            </div>
            {% endfor %}
          </div>
          <button class="save-button" onclick="sendCoordinates()">
            Enregistrer
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
