{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Parking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/stream.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/swiper/swiper-bundle.min.css' %}"
    />

    <script defer src="{% static 'css/swiper/swiper-bundle.min.js' %}"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" id="navbar__logo">PARKING</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <button class="navbar__links" id="user-list-button">
              list users
            </button>
          </li>
          <li class="navbar__item">
            <button class="navbar__links" id="DVA">DVA</button>
          </li>
          <li class="navbar__item">
            <button class="navbar__links" id="markSpot">mark spot</button>
          </li>
          <li class="navbar__item">
            <button class="navbar__links" id="cameraconfig">
              camera configuration
            </button>
          </li>
          <li class="navbar__item">
            <button class="navbar__links" id="cameralist">camera list</button>
          </li>
          <li class="navbar__btn">
            <button class="button" id="logout-btn">Logout</button>
          </li>
        </ul>
      </div>
    </nav>
    <div class="layout">
      <div class="sidebar close" id="sidebar">
        <button id="open"><span id="arrow">&#62;</span></button>
        <h2>Areas</h2>
        <ul id="area-list"></ul>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper" id="swiper-wrapper"></div>
      </div>
    </div>
    <script>
      window.CAR_IMAGE_URL = "{% static 'images/car.png' %}";
    </script>
    <script type="module" src="{% static 'js/videoStream.js' %}"></script>
  </body>
</html>
