{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Parking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/stream.css' %}" />
    <link rel="stylesheet" href="{%static 'css/partials/navbar.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/swiper/swiper-bundle.min.css' %}"
    />

    <script defer src="{% static 'css/swiper/swiper-bundle.min.js' %}"></script>
    <script type="module" src="{% static 'js/dashboardAPI.js' %}"></script>
    <script type="module" src="{% static 'js/refresh.js' %}"></script>
    <script src="{% static 'js/partials/navbar.js' %}"></script>
  </head>
  <body>
    <!-- navbar section -->
    {% include 'partials/navbar.html' %}

    <!-- main section -->
    <div class="layout">
      <div class="sidebar close" id="sidebar">
        <button id="open"><span id="arrow">&#62;</span></button>
        <h2>Areas</h2>
        <ul id="area-list"></ul>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper" id="swiper-wrapper"></div>
      </div>
    </div>
    <script>
      window.CAR_IMAGE_URL = "{% static 'images/car.png' %}";
    </script>
    <script type="module" src="{% static 'js/videoStream.js' %}"></script>
  </body>
</html>
